.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrapper {
        background-color: #fafafa;
        width: 50%;
        margin-top: 2rem;
        padding: 3rem;
    }
}
