.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .wrapper {
        margin-top: 2rem;
        width: 50%;
        background-color: #e1e1e1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
    }
}
