.ChannelInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-weight: bold;
    border-bottom: solid 1px #ccc;

    .Topic {
    }

    .TopicInput {
        font: inherit;
        border: 1px solid transparent;
    }

    .TopicInput:hover {
        border-color: #ccc;
    }
}
